.header {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10%;
	border-bottom: 1px solid black;
	padding: 25px;
}

.logo {
	width: 200px;
}

.library {
	display: flex;
	justify-content: center;
}

.add {
	font-size: 36px;
	font-weight: bold;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}
