.header {
  display: flex;
  margin-bottom: 10%;
  border-bottom: 1px solid black;
  padding: 25px;
}

span {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 32px;
}

.login {
  margin-left: 75%;
  font-size: 20px;
  font-style: italic;
  color: blue;
  padding: 15px;
  background-color: rgba(139, 122, 122, 0.16);
  border-radius: 1em;
}

.library {
  display: flex;
  justify-content: center;
}

.add {
  font-size: 36px;
  font-weight: bold;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}
